<h1>Tu súper online - Productos Disponibles</h1>

<ul class="collection">
    {{#each products}}
        <li class="collection-item">
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <p>Precio: ${{this.price}}</p>
            <p>Categoria: {{this.category}}</p>
            <p>Stock: {{this.stock}}</p>
            <a href="/productos/{{this._id}}">Ver detalles</a>
        </li>
    {{/each}}
</ul>
